<div id="kontakt" class="container-fluid bg-secondary py-5 text-white">
    <div id="contact-container" class="container-lg py-xl-5">
        <div class="row">
            <div class="col-lg-7 col-xl-6">
                <h2 class="display-1 fw-bolder mb-4">Napište nám</h2>

                {% component "contactform" %}
            </div>

            <div class="col-lg-5 offset-xl-1 mt-5 mt-lg-0">
                <p class="mb-4">
                    <span class="fw-bolder display-2">FERBET s.r.o.</span><br>
                    Náchodská 731, areál ČKD <br>
                    503 01 Hradec Králové <br>
                    Česká republika
                </p>

                <p class="mb-5">
                    <i class="bi bi-telephone me-2 text-tertiary"></i>
                    <a href="tel:+420 733 566 845" class="link-white text-decoration-none hover-tertiary">
                        +420 733 566 845
                    </a>

                    <br>

                    <i class="bi bi-envelope me-2 text-tertiary"></i>
                    <a href="mailto:info@ferbet.cz" class="link-white text-decoration-none hover-tertiary">
                        info@ferbet.cz
                    </a>
                </p>

                <div class="ratio ratio-4x3">
                    <iframe style="border:none" src="https://en.frame.mapy.cz/s/fazudatope" width="400" height="280" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
